[Unit]
Description=WebSockets server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/y2k/server/socket.sh

[Install]
WantedBy=multi-user.target
